@font-face {
    font-family: 'pixel';
    src: url(../fonts/pixelated.ttf);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pixel';
}

body {
    background-color: #000000;
    color:hotpink;
}

h1 {
    text-align: center;
    transform: translateY(60px);
    font-size: 50px;
}

/*------------------GAME CONTAINER------------------*/
#game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    border: 2px red solid;
    align-items: center;
    height: 100vh;
}

#panels-container {
    display: flex;
}

.panel {
    width: 150px;
    height: 150px;
}

/* panel colors */
#red {
    background-color: rgb(255, 0, 85);
    border-top-right-radius: 50%;
}

#green {
    background-color: rgb(102, 255, 0);
    border-bottom-right-radius: 50%;
}

#blue {
    background-color: rgb(0, 68, 255);
    border-bottom-left-radius: 50%;
}

#yellow {
    background-color: rgb(255, 208, 0);
    border-top-left-radius: 50%;
}

/*------------------ANIMATIONS------------------*/
.glow {
    color: #fff4fa;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px pink, 0 0 40px rgba(255, 192, 203, 0.26),0 0 10px rgb(255, 0, 234);
    }

    100% {
        text-shadow:0 0 30px rgba(250, 192, 255, 0.784),0 0 20px pink;
    }
}