@font-face {
    font-family: 'pixel';
    src: url(../fonts/pixelated.ttf);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pixel';
    color:khaki;
}

body {
    background-color:rgb(3, 3, 81);
    display: flex;
    height: 99vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

h1 {
    text-align: center;
    font-size: 35px;
}

/*------------------GAME CONTAINER------------------*/
#game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#buttons-container {
    display: flex;
}

.button {
    width: 150px;
    height: 150px;
    transition: .1s ease;
}

/* button colors */
#red {
    background-color: rgb(255, 0, 85);
    border-radius: 30px;
    border: 5px black solid;
    margin-bottom: 50px;
    margin-left: 25px;
}

#green {
    background-color: rgb(102, 255, 0);
    border-radius: 30px;
    border: 5px black solid;
    margin-left: 25px;
}

#blue {
    background-color: rgb(0, 68, 255);
    border-radius: 30px;
    border: 5px black solid;
    margin-right: 25px;
}

#yellow {
    background-color: rgb(255, 208, 0);
    border-radius: 30px;
    border: 5px black solid;
    margin-bottom: 50px;
}

/* button - active state - on hover - highlighted state*/
.active {
    background-color: white;
    box-shadow: 0px 0px 20px white;
    transition: .1s ease-in-out;
}

.button:hover {
    cursor: pointer;
}

.select {
    filter:brightness(.2);
    transition: .1s ease;
}

/*------------------ANIMATIONS------------------*/